/*
Colores usados:
#F2DFD7
#f58f29
#466995
#363732
#122C34
*/

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Fira Sans'),
    local('FiraSans-Regular'),
    url('./fonts/FiraSans-Regular.woff') format('woff'),
    url('./fonts/FiraSans-Regular.eot') format('eot'),
    url('./fonts/FiraSans-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Fira Sans Bold'),
    local('FiraSans-Bold'),
    url('./fonts/FiraSans-Bold.woff') format('woff'),
    url('./fonts/FiraSans-Bold.eot') format('eot'),
    url('./fonts/FiraSans-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    src: local('Nunito-Regular'),
        url('./fonts/Nunito-Regular.woff2') format('woff2'),
        url('./fonts/Nunito-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    src: local('Nunito-Bold'),
        local('Nunito-Bold'),
        url('./fonts/Nunito-Bold.woff2') format('woff2'),
        url('./fonts/Nunito-Bold.woff') format('woff');
}

a {
    color: #f58f29;
    text-decoration: none;
    text-shadow: 2px 2px 4px #363732;
}

article {
    background: linear-gradient(165deg, #466995, #122C34);
    border: 1px solid #466995;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #122C34;
    display: inline-block;
    float: left;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    z-index: 9;
}

article .image {
    border: 1px solid #122C34;
    position: absolute;
}

article .water {
    background: url('../img/water.jpg');
    background-size: 100% 100%;
    height: 97px;
    width: 160px;
}

article video {
    position: absolute;
}

article p {
    margin: 0 0 5px 170px;
}

article .comments {
    float: right;
    font-size: 13px;
}

@keyframes move-right {
    0% {
        padding-left: 5px;
    }
    50% {
        transform: rotate(-2deg) scale(1.2, 1.2);
    }
    100% {
        padding-left: 60px;
        transform: rotate(-1deg) scale(1.05, 1.05);
    }
}

@-webkit-keyframes move-right {
    0% {
        padding-left: 5px;
    }
    50% {
        transform: rotate(-2deg) scale(1.2, 1.2);
    }
    100% {
        padding-left: 60px;
        transform: rotate(-1deg) scale(1.05, 1.05);
    }
}

article h3 {
    background: #122C34;
    border: 1px solid #586875;
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 5px;
    position: relative;
    transition: all 0.5s;
}

article time {
    position: absolute;
    right: 20px;
    top: 16px;
    font-size: 14px;
    text-align: right;
    transition: all 1s;
}

article:hover time {
    top: 10px;
}

article:hover h3 {
    animation-name: move-right;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    -webkit-animation-name: move-right;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
}

aside {
    float: right;
    margin-top: 20px;
    width: 22%;
}

aside > div {
    background: linear-gradient(165deg, #466995, #122C34);
    border: 1px solid #466995;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #122C34;
    display: inline-block;
    float: right;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    width: 100%;
    z-index: 9;
}

.fondo {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.08);
    opacity: 0;
    transition: opacity 1s;
}

article:hover .fondo, aside > div:not(.social):hover .fondo {
    opacity: 1;
}

aside > div p {
    font-size: 12px;
    margin: 0;
}

aside > div ul {
    padding: 0 20px;
}

body {
    background: #363732;
    color: #F2DFD7;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    margin: 0;
}

canvas {
    margin-left: 5px;
}

.social {
    text-align: center;
}

.social .icon {
    background: linear-gradient(165deg, #466995, #122C34);
    border: 1px solid #466995;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #122C34;
    display: inline-block;
    margin: 0 3px;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 9;
}

.social .icon .fondo {
    background: rgba(255, 255, 255, 0.15);
}

.social .icon:hover .fondo {
    opacity: 1;
}

.social .facebook {
    background: url('../img/facebook.png');
    background-size: 100% 100%;
}

.social .reddit {
    background: url('../img/reddit.svg');
    background-size: 70% 90%;
    background-repeat: no-repeat;
    background-position: 5px 2px;
}

.social .twitter {
    background: url('../img/twitter.png');
    background-size: 85% 85%;
    background-repeat: no-repeat;
    background-position: 3px 3px;
}

.social .youtube {
    background: url('../img/youtube.png');
    background-size: 100% 100%;
}

footer {
    background: #122C34;
    border: 1px solid #466995;
    box-shadow: 3px 3px 5px #122C34;
    clear: both;
    font-size: 12px;
    padding: 0 10px;
    text-align: center;
}

form {
    margin: 10px auto;
    padding: 10px;
    width: 68%;
}

form label.ok {
    color: #118811;
}

form label.ok:before {
    content: '✓ ';
}

form label.error {
    color: #cc1111;
}

form label.error:before {
    content: '✕ ';
}

input, textarea {
    background: #F2DFD7;
    border-radius: 5px;
    display: inline-block;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    margin: 20px 0;
    height: 20px;
    padding: 10px;
    width: 50%;
}

input.button {
    background-color: #F2DFD7;
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 20px auto;
    padding: 10px;
    height: auto;
    width: 50%;
}

input:invalid[type='email'], input:invalid[type='text'], textarea:invalid {
    border-color: #cc1111;
    box-shadow: 2px 2px 5px #cc1111;
    -webkit-box-shadow: 0px 0px 5px #cc1111;
}

label {
    display: inline-block;
    font-size: 18px;
    margin-top: 5px;
    margin-right: 10px;
    text-align: right;
    padding-top: 25px;
    vertical-align: top;
    text-shadow: 2px 2px 4px #586875;
    width: 36%;
}

textarea {
    min-height: 100px;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

h4 {
    font-size: 14px;
    padding: 10px 0;
}

h4, h5 {
    text-align: center;
    text-shadow: 2px 2px 4px #586875;
}

h5 {
    font-size: 12px;
    padding-bottom: 25px;
}

header {
    background: #122C34;
    border: 1px solid #466995;
    box-shadow: 3px 3px 5px #122C34;
    color: #F2DFD7;
    padding: 5px 50px;
    position: relative;
}

header h1 {
    font-size: 32px;
}

header h2 {
    font-size: 22px;
    margin-top: 5px;
}

nav {
    position: absolute;
    right: 20px;
    bottom: 1px;
}

nav ul {
    height: 32px;
    margin: 0px 0 0px 0;
    padding: 0;
    position: relative;
}

nav ul li {
    background: #466995;
    border: 1px solid #358397;
    border-bottom: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: inline-block;
    list-style: none;
    margin-right: 2px;
    padding: 2px 6px;
    position: relative;
    transition: background-color 0.5s;
}

nav ul li a {
    font-size: 20px;
    font-weight: bold;
}

nav ul li:hover {
    background: #136175;
    border: 1px solid #586875;
    border-bottom: #136175;
    bottom: 0px;
    height: 33px;
    top: -5px;

}

nav ul li:hover a {
    position: relative;
    top: 4px;
}

p {
    text-shadow: 2px 2px 4px #586875;
}

section {
    float: left;
    margin-top: 20px;
    width: 73%;
}

#page {
    background: #363732;
    height: 100%;
    margin: 0 auto;
    padding: 10px 50px;
    max-width: 1100px;
    min-width: 800px;
    width: 90%;
}

#photo {
    background: url('../img/foto.jpg');
    background-size: 100% 100%;
    border: 1px solid #466995;
    float: left;
    height: 75px;
    margin-right: 10px;
    width: 75px;
}